@model MySecondMVC.Models.Person
@{
    ViewData["Title"] = "Delete Person";
}

<h2>Are you sure you want to delete @Model.FullName?</h2>

<form asp-action="Delete" method="post">
    @Html.HiddenFor(m => m.Id)
    <button type="submit">Yes, Delete</button>
    <a href="@Url.Action("Index")">Cancel</a>
</form>